/*
  Robin Pindel
  440 mod10 Programming Assignment
  9/25/2023
  
This program takes user input, makes it into JSON format, and then exports the JSON for display to the user.
*/

form {
  width: fit-content;
  background-color: palegreen;
}

.form-element {
  margin: 10pt 0;
}

legend, label {
  font-weight: bolder;
}